std2@https://github.com/ms-jpq/std2/archive/e37992cc1cea2d3a3dda8abcfd1b7cb7fbf1b5b5.tar.gz
pynvim_pp@https://github.com/ms-jpq/pynvim_pp/archive/95298d00fcc27f3437fac0636ea51db00adee4ae.tar.gz
PyYAML==5.4.1
