std2@https://github.com/ms-jpq/std2/archive/ddab05b8d86edb954ce8492ad9f93d6ee88bdf3e.tar.gz
pynvim_pp@https://github.com/ms-jpq/pynvim_pp/archive/93aa25bf3ee039c4eb85f402d6adf6977033013b.tar.gz
PyYAML==5.4.1
